.nav-panel {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  color: #171717;
  padding: 20px 0;
  margin: 12px 0;
  overflow-x: hidden;
}

.nav-list,
.nav-items-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  list-style: none;
}

.nav-link,
.nav-button {
  font-size: 16px;
  font-weight: 500;
  color: #1f2937;
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  text-align: start;
  padding: 8px 14px;
  width: fit-content;
  max-width: 160px;
}

.catalog-btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #152147;
  color: white;
  border-radius: 35px;
  padding: 18px 20px;
  margin-right: 10px;
  width: 160px;
}

.nav-link:hover,
.nav-button:hover {
  color: #2563eb;
}

.selected {
  background-color: #f2f4f9;
  border-radius: 12px;
  color: #152147;
}

@media (max-width: 1024px) {
  .nav-panel {
    margin: 0;
    padding: 0;
    min-height: 40px;
    width: 100vw;
    left: -50px;
    top: 10px;
  }

  .nav-items-container {
    background: linear-gradient(
      to bottom,
      #152147 0%,
      #e8efff 30%,
      #e8efff63 100%
    );
    margin-bottom: 20px;
  }

  .nav-list {
    position: sticky;
    flex-direction: column;
    z-index: 1;
  }

  .nav-link,
  .nav-button {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    border-radius: unset;
    max-width: unset;
    transition: 200ms;
    padding: 20px 10px;
    border-radius: 0 0 15px 15px;
    transition: 500ms;
  }

  .catalog-btn {
    font-size: 18px;
    justify-content: center;
    border-radius: unset;
    gap: 10px 0;
  }

  .selected {
    background: linear-gradient(to bottom, #152147 0%, #15214785 100%);
    color: white;
    transition: 700ms;
  }

  .selected:hover {
    color: white;
  }
}

@media (max-width: 768px) {
  .nav-panel {
    left: -25px;
  }

  .nav-link,
  .nav-button {
    font-size: 10px;
    padding: 10px 5px;
    line-height: 1.3;
    letter-spacing: -0.7px;
  }
  .catalog-btn {
    font-size: 16px;
  }
}
