.carousel-section {
  margin: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-container {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.carousel-button {
  background: none;
  border: none;
  font-size: 2rem;
  color: #333;
  cursor: pointer;
  padding: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  margin: 0;
}

.product-card {
  cursor: pointer;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 230px;
  height: 440px;
  margin: 0;
  transition: 400ms;
}

.product-img {
  height: 285px;
  background: #f1f1f1;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  transition: 400ms;
}

.product-card:hover .product-img {
  background-color: #e8efff;
}

.product-info {
  margin-top: 10px;
  height: 155px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
  flex-grow: 1;
}

.product-title {
  color: #152147;
  height: 48px;
  font-size: 16px;
  font-weight: 600;
  margin: 14px 0 0;
}
.product-description {
  margin: 10px 0;
  height: 48px;
  font-size: 14px;
  color: #696969;
  overflow: hidden;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
  line-height: 1.2em;
  max-height: 2.4em;
}

.product-price {
  color: #152147;
  font-size: 14px;
  font-weight: 600;
  margin: 0;
}
