.App {
  text-align: center;
}

.App main {
  padding: 0 100px;
}

.cont-width-default {
  width: 100%;
  max-width: 1800px;
}

.flex {
  display: flex;
}

@media (max-width: 1024px) {
  .App main {
    padding: 0 50px;
  }
}

@media (max-width: 768px) {
  .App main {
    padding: 0 25px;
  }
}
