.grid-catalog-section {
  display: flex;
  justify-content: center;
}
.grid-catalog {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 296px 256px;
  gap: 20px;
}

.catalog-card {
  cursor: pointer;
  background-color: #f6f6f6;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
  text-align: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  transition: 400ms;
  position: relative;
  height: 100%;
}

.catalog-card:hover {
  transform: scale(1.03);
  background-color: #e8efff;
}

.catalog-item-caption {
  background: rgba(45, 45, 45, 0.1);
  min-width: 100px;
  color: #000;
  padding: 11px 12px;
  text-align: center;
  border-radius: 20px;
  font-size: 16px;
  margin: 12px;
  backdrop-filter: blur(6px);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 10px;
}

.grid-item {
  object-fit: contain;
}

.item-1 {
  grid-area: 1 / 1 / 3 / 2;
}
.item-2 {
  grid-area: 1 / 2 / 2 / 3;
}
.item-3 {
  grid-area: 1 / 3 / 2 / 4;
}
.item-6 {
  grid-area: 1 / 4 / 2 / 5;
}
.item-4 {
  grid-area: 2 / 2 / 3 / 3;
}
.item-5 {
  grid-area: 2 / 3 / 3 / 5;
}

@media (max-width: 1280px) {
  .catalog-card {
    background-size: contain;
  }

  .grid-catalog,
  .grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    grid-template-rows: unset;
    grid-auto-rows: auto;
    gap: 20px;
  }

  .catalog-card {
    height: auto;
    aspect-ratio: 16 / 10;
  }

  .item-1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  .item-2 {
    grid-area: 1 / 2 / 2 / 3;
  }
  .item-3 {
    grid-area: 1 / 3 / 2 / 4;
  }

  .item-4 {
    grid-area: 2 / 1 / 3 / 2;
  }
  .item-5 {
    grid-area: 2 / 2 / 3 / 3;
  }
  .item-6 {
    grid-area: 2 / 3 / 3 / 4;
  }

  .grid-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
  }
}

@media (max-width: 1024px) {
  .grid-catalog,
  .grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: unset;
    grid-auto-rows: auto;
    gap: 16px;
  }

  .catalog-card {
    height: auto;
    aspect-ratio: 16 / 10;
  }

  .item-1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  .item-2 {
    grid-area: 1 / 2 / 2 / 3;
  }

  .item-4 {
    grid-area: 2 / 1 / 3 / 2;
  }
  .item-3 {
    grid-area: 2 / 2 / 3 / 3;
  }

  .item-6 {
    grid-area: 3 / 1 / 4 / 2;
  }
  .item-5 {
    grid-area: 3 / 2 / 4 / 3;
  }

  .grid-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
  }
}

@media (max-width: 768px) {
  .grid-catalog,
  .grid-container {
    grid-auto-rows: auto;
  }

  .catalog-card {
    height: auto;
    aspect-ratio: 16 / 10;
  }

  .catalog-item-caption {
    font-size: 12px;
  }

  .grid-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
  }
}
